

    <div class="container">
        <form  class="form">
            <div class="form-group">
                <label for="">firstName</label>
                <input type="" class="form-control" ng-model="nc1.firstName">
            </div>
            <div class="form-group">
                <label for="">lastName</label>
                <input type="" class="form-control" ng-model="nc1.lastName">
            </div>
            <button class="btn btn-primary" ng-click="addC1(nc1)">submit</button>
            <div class="form-group">
                <label for="">email</label>
                <input type="" class="form-control" ng-model="nc1.email">
            </div>
            <div class="form-group">
       
           
            <hr>
        
        </form>


        <table class="table table-striped">
            <tr>
                <th>fistName</th>
                <th>lastName</th>
                <th>email</th>
                <th>action</th>
            </tr>
            <tr ng-repeat="c1 in c1s" ng-click="select(c1)">
                <td>{{c1.firstName}}</td>
                <td>{{c1.lastName}}</td>
                <td>{{c1.email}}</td>
                <td>
                    <button ng-click="delC1(c1)" class="btn btn-danger"
                        >del</button>
                </td>
            </tr>
        </table>
    </div>
    
